*
{
    margin: 0;
    padding: 0;
}
body
{   margin: auto;
    height: 100%;
}
.main
{
    float: right;
    margin: 10px 30px;
}
.main li
{   
letter-spacing: 1px;
display:inline-block;
text-decoration: none;
font-display: none;
margin: 15px 10px ;
font-size: 17px;
font-weight: 600;
font-family: Arial, Helvetica, sans-serif;
}
.main li  a
{ text-decoration: none;  
color :rgba(248, 123, 7, 0.747);
padding: 5px 10px ;
}
.main li a:active 
{
border: 1px solid red;
}
.main li a:hover
{
    background-color:coral ;
    border: 1px solid coral;
    color:rgb(248, 244, 244);
    border-radius: 15px ;
}
.c
{ 
    position: absolute;
    top: 35%;
    left: 25%;
    font-size: 50px;
    font-variant: small-caps;
    font-weight: 500;
}
.cc
{   
    position: absolute;
    top: 43%;
    left: 40%;
    font-size: 25px;
    font-variant: small-caps;
    font-weight: 500;

}
.btnn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 9px 18px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 9px;
  }
  .success
{
    border-color:rgba(248, 123, 7, 0.747);
    color: rgba(248, 123, 7, 0.747);
}
  
  .success:hover 
{
    background-color:rgba(248, 123, 7, 0.747);
    color: white;
}
.b
{
    margin: 20px;
    text-align: center; 
    padding: 8px;
    border-radius: 7px;
    background-color:transparent;
    border: 1px solid rgb(248, 69, 4);
    color:rgb(235, 104, 57);
    font-size: 28px;
    width: 200px;
    cursor: pointer;
    
}
.btn
{ position: absolute;
    margin-top: 570;
    margin-left: 600;
    
}
.btn a
{
    text-decoration: none;
    width: 30px;
}
.b span 
{   
    cursor: pointer;
    position: relative;

}
.b span:after {
    content: '\00bb''\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: .5s;
  }
  .b:hover span {
    padding-right: 30px;
  }
  .b:hover span:after {
    opacity: 1;
    right: 0;
  }







